# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 


# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 


# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

venv/

*.tsv
*.ipynb
startup-data/
user notebooks/

micetro assets/

.env

.DS_Store